@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply text-white bg-gray-900;
}

.button-primary {
    @apply bg-green-400 uppercase text-sm tracking-widest text-gray-900 rounded-md py-4 px-5 font-bold shadow-lg hover:shadow-xl transition-shadow ease-in-out duration-200;
}

.button-secondary, .button-secondary-large, .hs-button {
    @apply bg-transparent text-xl cursor-pointer border-2 border-green-400 text-sm text-white rounded-md py-4 px-8 font-bold font-serif transition ease-in-out duration-200 hover:bg-green-400 hover:text-gray-900 hover:shadow-lg;
}

.button-secondary-large {
    @apply border-4 text-green-400 px-10;
}

.text-button, .text-button-blue {
    @apply text-xl font-bold text-green-400 flex items-center;
}

.text-button:after, .text-button-blue:after {
    content: "";
    @apply ml-1 block;
    width: 24px;
    height: 24px;
    background: url(https://f.hubspotusercontent40.net/hubfs/5626040/Website%20Icons/chevron-right.svg) no-repeat center center;
    transition: margin .2s ease-in-out;
}

.text-button:hover:after, .text-button-blue:hover:after {
    @apply ml-2;
}

.text-button-blue:after {
    background: url(https://f.hubspotusercontent40.net/hubfs/5626040/Website%20Icons/chevron-right-blue.svg) no-repeat center center;
}

.text-button-blue {
    @apply text-blue-400;
}

.eyebrow {
    @apply uppercase font-bold text-gray-700 tracking-widest mb-4;
}

.hs-form-field {
    @apply mb-6;
}

.hs-error-msgs {
    @apply mt-1 text-blue-400;
}

label {
    @apply uppercase text-sm tracking-wide mb-1 block font-bold;
}

.hs-input {
    @apply px-5 py-3 text-lg bg-gray-900 border-b-4 border-black focus:border-white text-white focus:outline-none w-full;
}

.hs-input.invalid, .hs-input.error {
    @apply border-blue-400;
}