@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply text-white bg-gray-900;
}

.button-primary {
    @apply block px-5 py-4 text-sm font-bold leading-tight tracking-widest text-center text-gray-900 uppercase transition-shadow duration-200 ease-in-out bg-green-400 rounded-md shadow-lg hover:shadow-xl;
}

.button-secondary, .button-secondary-large, .hs-button {
    @apply px-8 py-4 font-serif text-sm font-bold text-white transition duration-200 ease-in-out bg-transparent border-4 border-green-400 rounded-md cursor-pointer lg:text-lg hover:bg-green-400 hover:text-gray-900 hover:shadow-lg focus:outline-none;
}

.button-secondary-large {
    @apply px-6 text-lg text-green-400 border-4 md:px-10 lg:text-xl focus:outline-none;
}

.text-button, .text-button-blue {
    @apply flex items-center text-lg font-bold leading-tight text-green-400 lg:text-xl;
}

.text-button:after, .text-button-blue:after {
    content: "";
    @apply block ml-1;
    width: 20px;
    height: 20px;
    background: url(https://f.hubspotusercontent40.net/hubfs/5626040/Website%20Icons/chevron-right.svg) no-repeat center center;
    background-size: cover;
    transition: margin .2s ease-in-out;
}

@media (min-width: 1024px) {
    .text-button:after, .text-button-blue:after {
        width: 24px;
        height: 24px;
    }
}

.text-button:hover:after, .text-button-blue:hover:after {
    @apply ml-2;
}

.text-button-blue:after {
    background: url(https://f.hubspotusercontent40.net/hubfs/5626040/Website%20Icons/chevron-right-blue.svg) no-repeat center center;
    background-size: cover;
}

.text-button-blue {
    @apply text-blue-400;
}

.eyebrow {
    @apply mb-4 font-bold tracking-widest text-gray-700 uppercase;
}

.hs-form-field {
    @apply mb-6;
}

.hs-error-msgs {
    @apply mt-1 text-blue-400;
}

label {
    @apply block mb-1 text-xs font-bold tracking-wide uppercase;
}

.hs-input {
    @apply w-full px-5 py-3 text-lg text-white bg-gray-900 border-b-2 border-black focus:border-white focus:outline-none;
}

textarea.hs-input {
    height: 90px;
}

.hs-input.invalid, .hs-input.error {
    @apply border-blue-400;
}

.footer-menu .hs-menu-item a {
    @apply block mb-2 text-sm tracking-wide text-gray-400 uppercase transition-colors duration-200 ease-in-out hover:text-green-400;
}

.form-columns-1, .form-columns-2 {
    max-width: none !important;
    width: 100%;
}

.form-columns-1 .hs-input {
    width: 100% !important;
    resize: none;
}

fieldset.form-columns-2 .hs-form-field {
    width: 100% !important;
    float: none !important;
}

fieldset.form-columns-1 .input, fieldset.form-columns-2 .input {
    margin-right: 0 !important;
}

@media (min-width: 1024px) {
    fieldset.form-columns-2 .hs-form-field {
        width: 50% !important;
        float: left !important;
    }
    fieldset.form-columns-1 .input, fieldset.form-columns-2 .input {
        margin-right: 16px !important;
    }
}

@media (max-width: 1024px) {
    .hs-input { 
        width: 100% !important;
    }
}

.pillar-content-block h3 {
    @apply mb-6 font-bold lg:text-3xl;
}

.pillar-content-block h3:not(:first-child) {
    @apply mt-6;
}

.pillar-content-block p {
    @apply mb-8;
}

.pillar-content-block p img {
    width: 80% !important;
}

.pillar-content-block ul {
    @apply pl-10 mb-8 list-disc;
}

.pillar-content-block p + ul {
    margin-top: -1.5rem;
}

.pillar-content-block table {
    @apply border-0 bg-gray-900 text-white lg:text-xl !important;
}

.pillar-content-block table tr {
    @apply h-auto !important;
}

.pillar-content-block table tr td {
    @apply py-4 px-8 h-auto !important;
}

.pillar-content-block table tr:nth-child(odd) {
    @apply bg-black;
}

.pillar-content-block table tr:first-child {
    @apply font-bold text-black bg-green-400 lg:text-2xl;
}